[Desktop Entry]
Type=Application
Name=Pycharm
GenericName=Pycharm
Comment=Pycharm: The Python IDE
Exec=/opt/pycharm-community-2021.2.3/bin/pycharm.sh
Icon=/opt/pycharm-community-2021.2.3/bin/pycharm.png
Terminal=pycharm
Type=Application
Categories=Development;Education;


